body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

.person-list {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.person {
    background-color: #fff;
    padding: 10px;
    margin: 0 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s; /* sanfte Übergangseffekte */
}

    .person:hover {
        background-color: #eaeaea;
    }

.projects {
    display: none; /* Standardmäßig ausgeblendet */
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.project {
    background-color: #fff;
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s; /* sanfte Übergangseffekte */
}

    .project:hover {
        background-color: #eaeaea;
    }

.project-description {
    display: none; /* Standardmäßig ausgeblendet */
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    text-align: center;
}

    .project-description img {
        width: 100%;
        max-width: 400px;
        border-radius: 8px;
        margin-top: 10px;
    }

/* Neue Stilregel für animierte Übergänge */
.project-description {
    opacity: 0;
    transition: opacity 0.5s ease;
}

    .project-description.show {
        opacity: 1; /* Sichtbar machen mit Übergang */
    }
